@model Week18_Lezione1_Esercitazione.Models.CodiciFiscali

@{
    ViewBag.Title = "AddCustomer";
}

<h2 class="mt-3">Aggiungi un cliente</h2>

<div class="mt-3">
    @using (Html.BeginForm("AddCustomer", "Backoffice", new { Area = "" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row row-cols-1">
            <div class="col">
                @Html.LabelFor(model => model.Nome, new { @class = "form-label" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = $"form-control {(ViewData.ModelState.IsValidField("Nome") ? "" : "is-invalid")}" } })
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="col">
                @Html.LabelFor(model => model.Cognome, new { @class = "form-label" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.Cognome, new { htmlAttributes = new { @class = $"form-control {(ViewData.ModelState.IsValidField("Cognome") ? "" : "is-invalid")}" } })
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="col">
                @Html.LabelFor(model => model.CodiceFiscale, new { @class = "form-label" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.CodiceFiscale, new { htmlAttributes = new { @class = $"form-control {(ViewData.ModelState.IsValidField("CodiceFiscale") ? "" : "is-invalid")}" } })
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="col">
                @Html.LabelFor(model => model.Indirizzo, new { @class = "form-label" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.Indirizzo, new { htmlAttributes = new { @class = $"form-control {(ViewData.ModelState.IsValidField("Indirizzo") ? "" : "is-invalid")}" } })
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="col">
                @Html.LabelFor(model => model.Citta, new { @class = "form-label" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.Citta, new { htmlAttributes = new { @class = $"form-control {(ViewData.ModelState.IsValidField("Citta") ? "" : "is-invalid")}" } })
            </div>
        </div>
                <div class="row row-cols-1">
            <div class="col">
                <button type="submit" class="btn btn-success mt-3">Aggiungi cliente</button>
            </div>
        </div>
    }
</div>
