
@{
    ViewBag.Title = "ShowCustomers";
}

<div class="mb-3 mt-3">
    @Html.ActionLink("Aggiungi un cliente", "AddCustomer", "Backoffice", new { area = "" }, new { @class = "btn btn-danger" })
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Codice Fiscale</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">Citta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <th scope="row">@customer.Id</th>
                <td>@customer.Nome</td>
                <td>@customer.Cognome</td>
                <td>@customer.CodiceFiscale</td>
                <td>@customer.Indirizzo</td>
                <td>@customer.Citta</td>
                <td>@Html.ActionLink("Edit", "EditCustomer", "Backoffice", new { id = customer.Id }, new { @class = "btn btn-success" })</td>
            </tr>
        }
    </tbody>
</table>